<template name='about'>

<head>
	  <title>capitalgain</title>
	  <link href='http://fonts.googleapis.com/css?family=Syncopate' rel='stylesheet' type='text/css'>
	  <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
	</head>

		<body>
		<!-- <img src = '/images/background.jpg' id= 'background'> -->
		<div id='background-img-about'>
		    <h1 id='award'> Winner: Most Original (sponsored by Oracle) - Hack@Brown 2015</h1><img src='/images/hab-logo-poly.svg' id='hab-logo'>
            <h2>Every day we see <i>data</i> displayed in <i>images</i>. But what if we communicated that same <i>data</i> in <i>sound</i>?</h2>
		    <p id='description'>Capital Gain is an audiovisual experiment in telling the story of stock market data through sound.  Our algorithm takes raw market data (provided by <a href="http://www.stooq.com/">http://www.stooq.com</a>) and turns it into music. We use a careful combination of statistical analysis and music theory to generate music that relays information about performance, but is still nice to listen to.  For instance, a positive trend causes more major chords, and high variance increases the intensity of the melody.</p>
            <h1 id="about">What's next?</h1>
            <p id="description">Capital Gain was created in the bustle of Hack@Brown, and our primary goal was to generate a product that we could demo.  We plan to achieve certain short-term goals (better documentation, a more reliable webserver, etc.) in the coming weeks.  After that, possible new features could include:</p>
            <ul>
                <li>Mobile-ready visualization and a more dynamic UI</li>
                <li>Incorporate more data into the visuals (e.g., showing the price at a certain moment)</li>
                <li>Improve the algorithm to run more efficiently and represent information more transparently</li>
                <li>Make it all open-source and modular, possibly integrating the result with Beaker Notebook</li>
            </ul>
            <h1 id="about">About the Team</h1>
            <table>
                <!--Insert here all the bio information-->
            </table>
        </div>
		
	</body>

</template>