<template name='about'>

<head>
	  <title>capitalgain</title>
	  <link href='http://fonts.googleapis.com/css?family=Syncopate' rel='stylesheet' type='text/css'>
	  <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
	</head>

		<body>
		<!-- <img src = '/images/background.jpg' id= 'background'> -->
		<div id= 'background-img'>
		<h1> How It Works</h1>
		<p id='description'>Capital Gain reads stock data (provided by Stooq.com) into a python script. The script looks for indicators of positive and negative performance. It then uses a chord prediction API (hooktheory.com) to generate a chord sequence for the song. Taking motion of the stock price relative to a line of fit, we generate a melody to fit the key and chords. The algorithm generates a MIDI file that is rendered into audio in Ableton Live. <br/>We then present the audio with a visualization. The website is hosted on a Microsoft Azure virtual Linux installation and written in HTML/CSS with significant JavaScript animations. <br/>This project was a huge effort, but we managed to pull it off with careful planning and division of tasks. Roshan to data and turned it to chords. Philip took chords and turned them to music. Eddie took music and set up a Microsoft Azure/MongoDB/LAMP stack to host it all. Divya took the music, the data, and the website, and made it beautiful.</p>
		</div>
		
	</body>

</template>