<template name = 'capitalgain'>
	<head>
	  <title>capitalgain</title>
	  <link href='http://fonts.googleapis.com/css?family=Syncopate' rel='stylesheet' type='text/css'>
	  <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<!-- <img src = '/images/background.jpg' id= 'background'> -->
		<div id= 'background-img'>
		</div>
	  <div id= 'info-bar'>
	  	<h1>CAPITAL GAIN</h1>
		  <div id= 'search-bar'>
		  	<select id= 'search'>
		  		<option value= 'none'> Select a Stock </option>
		  		<option value= 'AAPL'>AAPL</option>
		  		<option value= 'AMZN'>AMZN</option>
		  		<option value= 'MSFT'> MSFT </option>
		  		<option value= 'ORCL'> ORCL </option>
		  	</select>
			  <button id= 'go-button'><img src='/images/right-arrow.png' id = 'go-logo'></button>
			<a href='/about'>About Our Project</a>
			  	
			</div>

		</div>
		
	</body>
</template>


