body{
	background-color: white;
}
#nav-bar{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 80px;
	background-color: #212C5C;
}
#logo{
	text-decoration: none;
	font-size: 65px;
	color: white;
	font-family: Quicksand;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 0px;
}
#stock-title{
	position: absolute;
	top: 100px;
	margin-left: 20px;
}

#stock{
	font-family: Quicksand;
	font-weight: 300;
	color: #AEB0B8;
	font-size: 40px;
	border: none;
}

#vis-container{
	position: absolute;
	top: 190px;
	background-color: black;
	width: 90%;
	height: 450px;
	left: 30px;
}
#data-vis{
	position: absolute;
	height: 450px;

}
.note{
	height:15px;
	position: absolute;
}
