body{
	background-color: white;
}
#nav-bar{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 80px;
	background-color: #212C5C;
}
#logo{
	text-decoration: none;
	font-size: 65px;
	color: white;
	font-family: Quicksand;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 0px;
}
#stock-title{
	position: absolute;
	top: 100px;
	margin-left: 20px;
}
#stock:focus{
	border: 2px solid #11AED1;
}

#stock{
	font-family: Quicksand;
	font-weight: 300;
	color: #AEB0B8;
	font-size: 40px;
	border: 2px solid white;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

#vis-container{
	position: absolute;
	top: 220px;
	background-color: white;
	width: 90%;
	height: 450px;
	left: 30px;
	overflow-x: hidden;
	margin-bottom: 50px;
}
#data-vis{
	position: absolute;
	height: 450px;
	top: 0px;
	width: 100%;
	left: 0px;

}
.note{
	height:15px;
	position: absolute;
	border-width: 3px;
	border-style: solid;
	/*opacity: 0.2;*/

	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

#playbutton{
	position: absolute;
	display: block;
	background-color: white;
	border: 2px solid #212C5C;
	border-radius: 10px;
	width: 75px;
	color: #212C5C;
	font-family: Quicksand;
	font-weight: 300;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}
#playbutton:hover{
	background-color: #212C5C;
	cursor: pointer;
	color: white;
}
